/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

body {
    background-color: rgb(12, 13, 15);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #e6e5f0;;
}

.container-fluid {
    padding:0;
    margin: 0;
}

.custom-padding {
    padding-top: 75px;
    padding-bottom: 75px; 
}

.font {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.about a {
    text-decoration: none;
    font-size: 1.4em;
    color: #887BEC;
    background-clip: text;
    background: linear-gradient(to right, white, white 50%, #887BEC 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.about a:hover {
    color: white;
    background-position: 0 100%;
}   

.btn {
    background-color: #887BEC;
    border: none;
}

.btn:hover {
    background-color: #887becbe;
}

.disabled {
    background-color: #887BEC;
    color: #fff;
}

.space{
    padding-top: 40px;
}

.design-footer {
    background-color: #fff;
}

.footer {
    /* padding-left: 10px; */
    background-color: #fff;
    color: black;
}


.list-inline {
    display: flex;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    font-size: 1.4em;
    color: #887BEC;
    background-clip: text;
    background: linear-gradient(to right, black, black 50%, #887BEC 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}
.footer a:hover {
    color: #111111;
    background-position: 0 100%;
} 

.wave {
    bottom: 0;
    left: 0;
}

@media (max-height: 447px) {
    .hide-on-landscape {
        display: none;
    }
}