.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-size: 1.5em;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/* .profile {
    height: 320px;
    width: 320px;
} */

.about {
    padding-top: 75px;
    padding-bottom: 75px; 
    background-color: #111111;
    color: white; 
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    font-size: 1.4em;
    color: #2196F3;
}

a:hover {
    color: white;
}   

.skills {
    padding-top: 75px;
    padding-bottom: 75px; 
    font-family: 'Courier New', Courier, monospace;
}

.owl-carousel {
    padding-top: 40px;
}
